QWidget {
    background-color: #ffffff;
    color:#2c3e50
}

QPushButton:hover{
  background-color: #74b9ff;
}

QPushButton:disabled{
  color:#ced6e0;
}

QPushButton:checked{
  background-color: #3498db;
}


QPushButton {
    border: 0;
    border-radius: 10%;
    font-size: 8;
}

QLabel#DisplabelHeader {
  color: #2f3542;
  font-size: 14px;
}